{% extends "layout.html" %}
{% block pageTitle %}
  Community Interest Companies (prototype)
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File CIC report and accounts (prototype)</h1>

          <div class="section-tabs js-tabs">
            <ul>
              <li>
                <a href="/index" id="">Full</a>
              </li>
              <li class="active">
                <a href="/cics/shortcuts-cics" id="">CICs</a>
              </li>
              <li>
                <a href="/accounts/abridged" id="">Abridged</a>
              </li>
            </ul>
          </div>

          <h2 class="govuk-heading-m">MVP</h2>
          <p>
            Some content might not be consistent with current small full screens, please refer to Jira stories for final content!
          </p>
          <ul class="govuk-list">
            <li>
              <a href="/gov-uk/gov-uk-start-page-cics">GOV.UK start page</a>
            </li>
            <li>
              <a href="/chs/chs-choose-accounts-small-full-radio-cics">Which type of accounts have you prepared?</a>
            </li>
            <li>
              <a href="/cics/cics-accounts-type">You can’t file online yet</a>
            </li>
            <li>
              <a href="/cics/cics-file-paper">How to file your CIC report and accounts on paper</a>
            </li>
            <li>
              <a href="/cics/cics-file-paper">File full accounts (criteria)</a>
            </li>
            <li>
              <a href="/cics/cics-company-number">What is the company number?</a>
            </li>
            <li>
              <a href="/cics/cics-company-number-confirm">Confirm company details</a>
            </li>
            <li>
              <a href="/chs/chs-login-page-cics-via-number">Sign in to Companies House</a>
            </li>
            <li>
              <a href="/chs/chs-authenticate-page-cics-via-number">
                Company authentication
              </a>
            </li>
            <li>
              <a href="/cics/general-description">CIC report: The company’s activities and impact
              </a>
            </li>
            <li>
              <a href="/cics/consultation-with-stakeholders">CIC report: Has there been a consultation with stakeholders?</a>
            </li>
            <li>
              <a href="/cics/consultation-with-stakeholders-yes">CIC report: Give details of any consultation with stakeholders
              </a>
            </li>
            <li>
              <a href="/cics/directors-remuneration">CIC report: Was directors' remuneration received?
              </a>
            </li>
            <li>
              <a href="/cics/directors-remuneration-cic-report">CIC report: Enter your directors' remuneration information here</a>
            </li>
            <li>
              <a href="/cics/transfer-of-assets">CIC report: Was there any transfer of assets other than for full consideration?
              </a>
            </li>
            <li>
              <a href="/cics/transfers-of-assets-yes">CIC report: Give details of any transfer of assets other than for full consideration</a>
            </li>
            <li>
              <a href="/cics/cics-check-before-you-submit">CIC report: Check your answers</a>
            </li>
            <li>
              <a href="/cics/cics-approval">CIC report: Approval</a>
            </li>
            <li>
              <a href="/accounts/accounts-start-info">You’re about to start filing your accounts</a>
            </li>
            <li>
              <a href="/accounts/accounts-start-page-small-full-mvp">File full accounts (the start of the 'normal small full screens)</a>
            </li>
            <li>
              <a href="/cics/cics-accounts-approval">Accounts approval (the end of the 'normal small full screens)</a>
            </li>
            <li>
              <a href="/accounts/accounts-payment">Payment</a>
            </li>
            <li>
              <a href="/cics/cics-confirmation">Confirmation</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m govuk-!-margin-top-9">The latest version</h2>
          <ul class="govuk-list">
            <li>
              <a href="https://ch-accounts-v24.herokuapp.com/cics/shortcuts-cics">Beta V7 (October 2018)</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">Previous versions
            <span class="govuk-hint">
              Older versions might be 'switched off' - contact James Francis for access
            </span>
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="https://ch-accounts-v23.herokuapp.com/cics/shortcuts-cics">Beta V6 (September 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v22.herokuapp.com/cics/shortcuts-cics">Beta V5 (August 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v21.herokuapp.com/cics/shortcuts-cics">Beta V4 (July 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v20.herokuapp.com/cics/shortcuts-cics">Alpha V3 (June 2018)</a>
            <li>
              <a href="https://ch-accounts-v19.herokuapp.com/cics/shortcuts-cics">Alpha V2 (May 2018)</a>
              <span class="govuk-hint">V2 was sent to GDS for the Alpha assessment</span></li>
            <li>
              <a href="https://ch-accounts-v18.herokuapp.com/cics/shortcuts-cics">Alpha V1 (April 2018)</a>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}